a{
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
body{
	background-image: url("static/yoyohoneysingh-20221001-0003.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: hidden;
}
#head{
	margin-left: 30px;
	margin-top: 30px;
}
#head span{
	display: inline-block;
}
#spomtify-icon{
	color: white;
	font-size: 4rem;
}
#icon-bio{
	color: lightgrey;
	margin-left: 8px;
}
#bio-first{
	font-size: 1.2rem;
}
#bio-second{
	font-size: 1.5rem;
	font-weight: 550;
}
#foot{
	position: absolute;
	bottom: 2.5%;
}
.shuffle,.loop{
	color: lightgrey;
	font-size: 1.8rem;
}
.shuffle{
	margin-right: 25px;
}
.loop{
	margin-left: 25px;
}
.play{
	color: white;
}
.last-song{
	margin-right: 22px;
}
.next-song{
	margin-left: 22px;
}
.last-song,.next-song{
	font-size: 2.4rem;
	color: lightgrey;
}
.play{
	font-size: 3rem;
}
#like-btn span{
	margin-left: 30px;
	margin-top: 7px;
}
#like-btn{
	color: lightgrey;
	/*margin-left: 3%;*/
	font-size: 1.9rem;
	width: 25%;
}
#main-btns{
	width: 50%;
	text-align: center;
}
#main-btns span:hover{
	color: white;
}
#aside-btns span,a:hover{
	color: white;
}
#like-btn:hover{
	color: white;
}
#aside-btns{
	/*float: right;*/
	width: 25%;
	text-align: right;
}
#aside-btns > span{
	margin-top: 7px;
	margin-right: 30px;
}
#player{
	margin-left: 0.4vw;
	margin-bottom: 15px;
}
.slider{
	-webkit-appearance: none;
	background-color: lightgrey;
	outline: none;
	width: 90vw;
	height: 7px;
	border-radius: 0.5rem;
	opacity: 0.6;
}
.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: green;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
} 
.time-stamps{
	color: white;
	font-size: 1.5rem;
	font-weight: 550;
}
#btns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.volume{
	font-size: 1.9rem;
	position: relative;
	top: 10px;
}
.volume-icon{
	color: lightgrey;
}
.small-screen{
	margin-left: 28px;
	font-size: 1.7rem;
	position: relative;
	top: 10px;
	color: lightgrey;
}
.slider-2{
	-webkit-appearance: none;
	background-color: lightgrey;
	outline: none;
	width: 100px;
	height: 5px;
	border-radius: 0.5rem;
	opacity: 0.6;
	position: relative;
	top: -8px;
}
.slider-2::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: green;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
}
#middle{
	height: 350px;
	width: 60%;
	position: relative;
	left: 80px;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
#song-img{
	/*height: 100%;
	width: 400px;*/
	position: relative;
	animation-name: visible, movement, changesize;
    animation-duration: 3s, 3s, 3s;
   /* animation-direction: alternate;*/
    animation-iteration-count: 1, 1, 1;
    height: 40%;
	width: 150px;
	top: 25%;
}
#song-img img{
	height: 100%;
	width: 100%;
	background-size: contain;
}
#song-bio{
	height: 100%;
	width: 350px;
	position: relative;
	top: 38%;
	left: 2.5%;
}
#song-name{
	color: white;
	font-size: 2.9rem;
	font-weight: 550;
}
#singer-name{
	color: lightgrey;
	font-size: 1.5rem;
	margin-top: 5px;
}

@keyframes visible{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.5;
	}
	40%{
		opacity: 1;
	}
}
@keyframes movement{
	0%{
		top: 50px;
	}
	40%{
		top: 0px;
	}
	100%{
		top: 25%;
	}
}
@keyframes changesize{
	0%{
		height: 100%;
	    width: 400px;
	}
	40%{
		height: 100%;
	    width: 400px;
	}
	100%{
		height: 40%;
		width: 150px;
	}
}